$root-font-size: 16px;
$color-text: #3d3d3d;
$color-borders: #e3e3e3;


$header-background: white;
$main-nav-link-color: $color-text;

$font-body:'Montserrat', sans-serif; 
$font-title: $font-body;

$font-label: $font-body;
$font-nav: $font-body;

$site-max-width: 1300px;

$mobile-nav-visible-max: 1050px;

$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

// Main colors 
$color-accent: #993f3f;


$color-brand-primary: #3d3d3d;
$color-logo-fill: $color-brand-primary;

$color-text: #231f20;
$color-text-link: #a10071;
$color-text-link--hover: #66094a;
$color-text-title: #0c0c0c;
$rootFontsize: 18px;

$color-text-light: #7b7b80;

$color-button-text: white;
$color-button-background: #0c0c0c;

$color-background: white;
$color-border: rgb(241, 241, 241);

$color-input-border: rgb(180, 180, 180);
$color-input-border-focus: $color-accent;

$color-almost-white: #fcfcfc;

$site-background-color: $color-background;


$site-max-width: 1100px;


// Error
$color-error: #d0011b;



// Breakpoints
$breakpoint-sml: 760px;
$breakpoint-med: 960px;
$breakpoint-lrg: 1200px;