
html {
	font-family: $font-body;
	font-size: 16px;
	font-weight: 300;
    line-height: 1.5;
}

body {
	color: $color-text;
}


em {
	font-style: italic;
}



// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 40px;
	margin-bottom: 32px;
	font-family: $font-title;
	font-weight: 700;
	color: $color-text-title;
}

h1,h2,h3,h4 {
	font-weight: 600;
}



h1 {
font-weight: 600;
font-size: 2rem;
}

h2 {
font-size: 1.4rem;
}

h3 {
	font-size: 1.2rem;
font-family: $font-label;
color: #5f5f5f;
font-style: italic;
font-weight: normal;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

// Text


p {
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
	
	&:last-child {
		margin-bottom: 0;
	}
}



// Links 
a {
color: $color-text-link;
text-decoration: none;
&:hover {
	color: $color-text-link--hover;
}
}


strong {
font-weight: bold;
}



ol {
	padding-left: 1em;
}

.header-border {
padding-bottom: 7px;
border-bottom: 1px solid $color-border;
}



.sans-light {
	font-weight: 400;
}

.sans-medium {
font-weight: 600;
}


ol {
counter-reset: section;                
list-style-type: none;
padding-left: 0;

ol {
	padding-left: 15px;
}

li{
	margin-bottom: 10px;
	&:first-child {
		margin-top: 15px;
	}
	&:last-child {
		margin-bottom: 30px;
	}		
}
li::before {
	font-weight: bold;
	counter-increment: section;          
	content: counters(section, ".") ". ";
}	
}


.field--intro,.article-rte {
	ul {
		list-style: disc;
		padding-left: 1.5rem;
	}
}


