
@import "_global-variables.scss";
@import "_normalize.scss";
@import "_clearings.scss";
@import "_typography.scss";
@import "_forms.scss";
@import "_buttons.scss";
@import "_media.scss";
@import "_utilities.scss";



.site-max-width {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.competition-category {
	margin: 10px;
}

.competition-category__image-link {
	display: block;
}

.online-puzzle-wrapper {
	padding:  5%;
	background: #e3e3e3;
}

.dataTables_filter {
	display: none;
}

.on-sale-dates-wrapper {
	max-width: 950px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: black;
}


a:visited {
	color:black;
}

a:hover, a:focus, a:active {
	color: black;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	margin-left: auto;

	.top-menu-items {
		width: 100%;
		display: block;
		display: flex;
		justify-content: flex-end;
	}
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;

	a {
		color: white;
	}
}


.menu-main-navigation-container  a {
	display: block;
    text-decoration: none;
	padding: 0.8rem 1rem;
	color: white;
	text-transform: uppercase;
}


.menu-main-navigation-top-container  a {
	display: block;
	text-decoration: none;
	font-weight: 700;
	padding: 1.2rem 20px;

}


.main-navigation a:hover {

}



/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}



.menu-item-has-children.menu-item-has-children--open .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
}

.site-header {
	padding: 1rem;
	background: #333F48;
}


.site-header-flex-container {

	display: flex;
	justify-content: start;
	align-items: center;
}


.site-branding {
	max-width: 180px;
	margin-right: 1rem;
	min-width: 130px;

	svg {
		width: 100%;
	}
}

.site-footer {
    background: #2e2426;
    color: white;
    a {
        color: white;
    }
}