.category-list {
	display: flex;
	flex-wrap: wrap;
}

.service-archive-item {
	margin: 10px;
	min-width: 120px;
	display: flex;
	flex: 1 0 calc(50% - 20px);
}

.service-item__cover-wrap {
	padding: 1.5rem;
	background: #e3e3e3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-item__cover-wrap img {
	width: 200px;
}

.service-item__content-wrap {
	flex: 1;
}